.location {
  padding-top: 45px;
  padding-bottom: 35px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__text {
    color: $red;
    @include rem(font-size, 24px);
    font-weight: 300;

    &:hover {
      color: $text-color;
      text-decoration: underline;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $sm-width) {

  .location {

    &__item {
      display: block;
      float: left;
      &--first {width: 1/2*100%;}
      &--second {width: 1/2*100%;}
      &--third {width: 100%;}
    }

  }

}


@media (min-width: $md-width) {

  .location {

    &__item {
      width: 1/3*100%;
    }

  }

}
