.page-nav {
  position: absolute;
  top: 72px;
  left: 0;

  width: 100%;

  background-color: #283645;

  &__list {
    display: block;

    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
  }

  &__item {
    position: relative;

    padding-top: 25px;
    padding-bottom: 25px;

    border-top: 1px solid #000;
    &::before {
      position: absolute;
      top: 1px;
      left: 0;

      width: 100%;
      height: 1px;

      content: "";

      background-color: rgba(255, 255, 255, .15);
    }
  }

  &__link {
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    @include rem(font-size, 18px);
    @include rem(line-height, 32px);
    &:after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      z-index: 10;
      display: block;
      height: 2px;
      width: 100%;
      background-color: $white;
      opacity: 0;
      transition: 0.3s;
    }
  }
}


@media (max-width: $md-width - 1px) {

  .page-nav {

    &__link {

      &:active {
        color: $red;
        opacity: 0.3;
      }

      &:hover {
        color: $red;
      }
    }
  }

}


@media (min-width: $md-width) {

  .page-nav {
    width: 735px;
    top: 0;
    left: 467px/$md-width*100%;
    background-color: transparent;

    &__item {
      display: inline-block;
      float: right;
      border-top: 0;
      padding-top: 45px;
      padding-bottom: 45px;
      margin-right: 77px/$md-width*100%;
      &::before {
        display: none;
      }
    }

    &__link {
      text-transform: capitalize;
      @include rem(font-size, 18px);

      &:active {
        opacity: 0.3;
        &::after {
          display: none;
        }
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

  }

}
