.social {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 12px/$sm-width*100%;
    border-radius: 50%;
    border: 3px solid rgba(40, 54, 69, 0.1);

    &:hover {
      border-color: $text-color;
    }

    &:active {
      opacity: 0.3;
    }

    &--tw {
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2015.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.0//EN%22%20%22http%3A//www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.0%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2217.5px%22%20height%3D%2214.663px%22%20viewBox%3D%220%200%2017.5%2014.663%22%20enable-background%3D%22new%200%200%2017.5%2014.663%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22W6EeEF_1_%22%3E%0D%0A%09%3Cg%3E%0D%0A%09%09%3Cpath%20fill%3D%22%23d22856%22%20%20d%3D%22M11.283%2C0.153c1.736-0.485%2C3.074%2C0.263%2C3.685%2C1.151%0D%0A%09%09%09c0.694-0.226%2C1.372-0.47%2C2.072-0.691c-0.004%2C0.841-0.538%2C1.478-0.883%2C1.727C16.861%2C2.506%2C17.5%2C1.86%2C17.5%2C1.86%0D%0A%09%09%09c-0.175%2C0.976-1.035%2C1.746-1.611%2C1.977C15.65%2C10.429%2C12.617%2C14.793%2C5.507%2C14.66c-0.538%2C0%2C0.077%2C0-0.46%2C0%0D%0A%09%09%09c-0.422%2C0-4.29-0.45-5.047-1.843c2.341%2C0.192%2C4.011-0.412%2C4.835-1.15c-0.989-0.293-2.761-0.464-3.07-2.881%0D%0A%09%09%09c0.362%2C0.105%2C0.583%2C0.223%2C1.228%2C0.117C1.757%2C8.067%2C0.385%2C7.366%2C0.461%2C5.218c0.294%2C0.32%2C1.1%2C0.523%2C1.381%2C0.461%0D%0A%09%09%09c-0.725-0.235-2.03-3.281-0.921-4.836C2.794%2C2.654%2C4.769%2C4.364%2C8.29%2C4.528C8.506%2C2.288%2C9.461%2C0.787%2C11.283%2C0.153z%22/%3E%0D%0A%09%3C/g%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	    background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &--yt {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAAnElEQVQoU2O8qB46gYGBIZ6JkXHCnx+/Jho+2PCBgUjAeEkj9AADA6M9SP3///8/MDIybGBlYG7UvLHiASEzUDSjKv6/gJAheDTDjMJtCBGacRtCgmZMQ8jQDDHkPwNDI901L2RlYGoARSUpNsM1wXxPjGYMTcRoxqkJq+b///9/ZGBgWMDGyDyBqOQJzRgJDIyME/79+DWBlIwBAIdaYa0UmsQ/AAAAAElFTkSuQmCC');
	    background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &--fb {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAATCAYAAABC3CftAAAAo0lEQVQoU2NkQAJXVUMN/jIx1jMwMgQghP8fZIRxrmtEKPz6//c8IyOjALJGBgYkRZc0whYwMDDEoyoA8ZAUXdQIfcDIwCgPU/T//79CJkaGC0x/GT/ArbukEfYf2RS9G6vgcsQpuqgeOoGRkUGfgYHRAc3BB8Au+s9wkfGSRugBBgZGe0wHw113kDhFUOsMME37fxBq3QXiHA6zmfIgGNYmAQBFslqYznOBrQAAAABJRU5ErkJggg==');
	    background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &__link {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: normal;
  }

}
