$font-size: 14px;

$font-size--h1: 24px;
$font-size--h1-sm: 40px;
$font-size--h1-md: 50px;

$font-size--h2: 24px;
$font-size--h2-sm: 40px;
$font-size--h2-md: 50px;

$font-size--h3: 18px;
$font-size--h3-md: 30px;
$line-height--h3-md: 30px;


$font-size--h4: 18px;

$font-femily: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;

$line-height: 24px;

$xs-width: 320px;
$sm-width: 700px;
$md-width: 1200px;
$lg-width: 1400px;

$white: #fff;
$black: #000;
$red: #d22856;
$grey: #f2f2f2;

$text-color: #283645;
$heading-color--h1: $white;
$heading-color--h2: #283645;
$heading-color--h3: $black;
$heading-color--h4: #283645;

$heading-weight--h1: 300;
$heading-weight--h2: 300;
$heading-weight--h3: 700;
$heading-weight--h4: 700;
